	
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<strong>Listing Articles</strong>
	<ul><% @category.articles.each do |article| %>
		<li><%= article.title %></li>
	<% end %>
	</ul>


<% if user_signed_in? && current_user.is_admin %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<% end %>
