	
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<strong>Listing Articles</strong>
	<ul><% @category.articles.each do |article| %>
		<li><%= link_to article.title ,article_path(article)%></li>
	<% end %>
	</ul>


<% if user_signed_in? %>
	<% if can? :edit, Category %>
<%= link_to 'Edit', edit_category_path(@category) %> |
	<% end %>
<%= link_to 'Back', categories_path %>
<% end %>
